<section class="bg-dark text-white text-center  ">
  <h1 class="fw-bold fs-1 pt-5">BUILD YOUR PERFECT BODY</h1>
  <h3>ACCORDING TO YOUR AGE</h3>


  <div class="container text-center py-5" routerLink="/exercise">
    <div class="row">
      <div class="col m-2">
        <div class="child">
          <img [src]="age18">
        </div>
        <p class="age pt-2">Age: 18-29</p>
      </div>

      <div class="col m-2">
        <div class="child">
          <img [src]="age30">
        </div>
        <p class="age pt-2">Age: 30-39</p>
      </div>

      <div class="col m-2">
        <div class="child">
          <img [src]="age40">
        </div>
        <p class="age pt-2">Age: 40-49</p>
      </div>

      <div class="col m-2">
        <div class="child">
          <img [src]="age50">
        </div>
        <p class="age pt-2">Age: 50+</p>
      </div>
    </div>
    </div>
</section>
