<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-end" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action p-3" routerLink="/cardio">Cardio Equipment</a>
        <a class="list-group-item list-group-item-action  p-3" routerLink="/strength">Strength Equipment</a>
        <a class="list-group-item list-group-item-action p-3" routerLink="/freeWeight">Free Weight</a>
        <a class="list-group-item list-group-item-action p-3" routerLink="/gymAccess">Gym Accessories</a>
        <a class="list-group-item list-group-item-action  p-3" routerLink="/cages">Cages, Racks & Ricks</a>
        <a class="list-group-item list-group-item-action  p-3" routerLink="/cages">Sports Art</a>
      
      
      </div>
    </div>
  </div>