<!--First section-->

<header class="bg-dark py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-5 fw-bolder text-white mb-2">Feel Great. Body and Mind</h1>
                  <p class="lead fw-normal text-white-50 mb-4">Choose from hundreds of workouts, healthy, recips, relaxing meditation, and experts articles, for a whole body and mind
                    approach to feeling great</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <button class="bx" (click)="openDialog()">Join Now</button>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" [src]="Fitness" alt="..." /></div>
      </div>
  </div>
</header>


<!--Second Section-->
<div class="container">
  <div class="row align-items-center gx-3 gy-5 py-2 mt-3">

    <div class="col-12 col-md-12 col-lg-5 py-5 image-container">
      <img
        [src]="Fitness"
        class="img-fluid mx-auto d-block"
        alt="a man using vr gadget"  
      />
    </div>

    <div class="col-12 col-md-12 text-center text-lg-start col-lg-7 py-5">
      <h2 class="fw-bold text-primary fs-1 pb-3 text-dark">About Fitness</h2>
      <p class="about-text">
        Fitness is a multifaceted endeavor encompassing various elements crucial for
         overall health and well-being. At its core lies the importance of physical
          activity, serving as a cornerstone for disease prevention, mood enhancement,
           and cognitive function improvement. Central to fitness are its components:
            cardiovascular endurance, muscular strength, muscular endurance, flexibility,
             and body composition
      </p>
      <p class="about-text">
        Engaging in different types of exercise is key to achieving a well-rounded
         fitness routine. Cardiovascular exercises like running or swimming improve
          heart health, while strength training with weights or resistance bands builds
         muscle mass and boosts metabolism.
      </p>
    </div>
  </div>
</div>



