/* a{
  position: relative;
  color: white;
}
a:before{
  content: "";
  position: absolute;
  left:8px;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width .5s ease-in-out;
}

a:hover::before{
  width: 80%;
} */